extends layout.pug

block head
  title Authentification réussie

block content
  h1 Authentication réussie
  p.
    Vous vous êtes correctement authentifié.e.
  p
    a.btn.btn-primary(href="https://agir.lafranceinsoumise.fr/") Retour sur la plateforme des groupes d'action.
