doctype html
html(lang="fr")
  head
    title Authentification réussie
    link(rel='stylesheet' href='https://jlm2017.github.io/theme/dist/theme.css')
  body
    .container
      h1 Authentication réussie
      p.
        Vous vous êtes correctement authentifié.e.
