extends layout.pug

block head
  title Code invalide

block content
  h1 Code incorrect
  p
    |  Le code que vous avez entré n'est pas ou plus valide.
    |
    a(href='/email') Accédez au formulaire
    |
    | pour tenter de vous connecter à nouveau.
