extends layout

block head
  title Trop d'essais ratés

block content
  h1 Trop d'essais ratés
  div
    | Quelqu'un a tenté de saisir votre code de trop nombreuses fois. Pour assurer la sécurité de votre compte, il a été
    | temporairement bloqué. Attendez quelques minutes avant de réessayer.
