extends layout

block head
  title Formulaire de connexion

block content
  h1 Formulaire de connexion
  form(method='POST' action='email')
    div(class=error ? "form-group has-error" : "form-group")
      label(for="email") Votre adresse email
      input(type="email" class="form-control" id="email" name="email" placeholder=previousEmail)
      if error
        span(class="help-block")= error
    button(type="submit" class="btn btn-primary") Valider
