doctype html
html(lang="fr")
  head
    block head
    link(rel='stylesheet' href='https://jlm2017.github.io/theme/dist/theme.css')
  body
    nav(class='navbar navbar-default navbar-static-top')
      .container
        .navbar-header
          button(class='navbar-toggle collapsed' type='button' data-toggle='collapse' data-target='#menu-collapse')
            span(class='sr-only') Activer la navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand' href='https://jlm2017.fr/')
            img(src='https://jlm2017.github.io/theme/images/logo_fi.png' alt='Revenir à la page principale')
        div(id='menu-collapse' class='collapse navbar-collapse')
          #menu-export
          script.
            (function() {
              /** SETTINGS **/
              var themeLocation = 'primary_navigation';
              var addBootstrapCSS = true;
              var menu_class = 'nav%20navbar-nav%20navbar-right';
              var container = '';
              var r = new XMLHttpRequest();
              r.open('GET', 'https://jlm2017.fr/?menu_export=1&theme_location='+themeLocation+
              '&menu_class='+menu_class+'&container='+container+
              (addBootstrapCSS?'&bootstrap=1':''),true);
              r.onreadystatechange=function(){if(r.readyState!=4||r.status!=200)return;
              document.getElementById('menu-export').innerHTML = r.responseText;};
              r.send();
            })();
    .container
      .row
        div(class='col-md-8 col-md-offset-2')
          block content
