doctype html
html(lang="fr")
  head
    title Lien invalide
    link(rel='stylesheet' href='https://jlm2017.github.io/theme/dist/theme.css')
  body
    .container
      h1 Lien incorrect
      p.
        Le lien que vous avez suivi n'est pas ou plus valide.
