extends layout.pug

block head
  title Lien invalide

block content
  h1 Lien incorrect
  p
    |  Le lien que vous avez suivi n'est pas ou plus valide.
    |
    a(href='/email') Accédez au formulaire
    |
    | pour demander un nouveau lien.
